<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
	<title>Hello, sbb!</title>
</head>
<body>
	<!-- navbar start -->
	<nav th:replace="~{navbar :: navbarFragment}"></nav>
	<!-- navbar end -->
	<!-- template start -->
	<th:block layout:fragment="content"></th:block>
	<!-- template end -->
	<script th:src="@{/bootstrap.min.js}"></script>
</body>
</html>
