<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container my-3">
		<h5 class="my-3 border-bottom pb-2"> 질문등록 </h5>

		<form th:action="@{/question/create}" th:object="${questionForm}" method="post">
			<div th:replace="~{form_errors :: formErrorsFragment}"></div>

			<div class="mb-3">
				<label for="subject" class="form-label">제목</label>
				<input type="text" class="form-control" id="subject" name="subject" th:field="*{subject}">
			</div>

			<div class="mb-3">
				<label for="content" class="form-label">내용</label>
				<textarea class="form-control" rows="10" id="content" name="content" th:field="*{content}"></textarea>
			</div>

			<input type="submit" class="btn btn-primary my-2" value="저장하기"></a>
		</form>

	</div>
</html>