<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--mapper에 쿼리문 작성 -->
<mapper namespace = "MybatisSample">
<!-- 쿼리문 중 ?에 값을 채워주는게 파라미터타입, 결과를 받아오는게 result 타입, 링크형태여야함(컨트롤클릭이 눌러져야 제대로 쓴거) -->
	<select id="SampleEmp" resultType="kr.co.ureca.dto.EmpDTO"> 
		select empno, ename, job, mgr, hiredate, sal, comm, deptno 
		from emp
	</select>
</mapper>
